
body{
    max-width: 960px;
}

form{
    /* max-width: 40%;  */
    padding: 5px;
}

#action-container {
    padding: 5px;
}

#action-input{
    margin-bottom: 5px;
}

#story-input{
    width: 100%;
    margin-bottom: 5px;
}

button[type="submit"]{
    width: 100%;
}

textarea::placeholder{
    text-align: left;
}

#google-signin{
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left:5px;
    padding-right:5px;
}

#social-signin{
    margin-left:5px;
}

h1,h3, h5, h6{
    margin-left:5px;
}